/* 
File: GuestbookAdmin.css Date: 2024-01-11

Author: Gunnar Liden

General information
====================

Defines all style classes for the application guestbook upload image

*/

/* The whole page */
.cl_upload_page
{
    border: solid 2px blue;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: bold;
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
    
    height: 400px;
}

/* For all <label> elements */
label
{
    margin-left: 10px;
}


/* For some <button> elements */
button
{
    border: solid 2px black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 95%;
}

/* Logo <div> element */
.cl_upload_logo
{
    /* border: solid 2px yellow; */
    text-align: center;
    background-color: black;
    color: rgb(255, 0, 40);
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;   
    width: 100%;
}

/* Image <img> Elemente in <div> element logo */
.cl_upload_logo img
{
    margin-left: 15px;
    margin-right: 15px;
}

.cl_div_upload_names_email_code
{
    /*  border: solid 1px black; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;   
    clear: both;    
}

.cl_div_upload_names
{
    /* border: solid 1px yellow; */
    margin-bottom: 10px;
    clear: both;    
}

.cl_div_upload_names input
{
    font-weight: bold;
}

.cl_div_upload_email
{
    /* border: solid 1px yellow; */
    clear: both;    
}


.cl_div_upload_email input
{
    font-weight: bold;
}

.cl_div_upload_button_code
{
    /* border: solid 1px yellow; */
    clear: both;    
}

.cl_div_upload_code
{
    /* border: solid 1px yellow; */
    clear: both;    
}

.cl_div_upload_code_cell
{
    /* border: solid 1px green; */
    min-width: 30px;
    margin-left: 5px;
    float: left;
}

.cl_div_upload_code_cell input
{
    font-weight: bold;
    text-align: center;
}


.cl_div_upload_button_send
{
    /* border: solid 1px yellow; */
    clear: both;    
}

.cl_div_upload_icon
{
    clear: both;    
}

.cl_div_upload_icon img
{
    margin-top: 10px;
    margin-left: 45px;
    width: 200px;
}

.cl_div_upload_container_part_two
{
    /* border: solid 1px red; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    overflow: hidden;   
    clear: both;    
}


.cl_div_upload_button_back_forward_part_two
{
    /* border: solid 1px green; */
    overflow: hidden;   
    clear: both;
}

.cl_div_upload_button_back_part_two
{
    /* border: solid 1px yellow; */
    margin-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: left;
}

.cl_div_upload_button_forward_part_two
{
    /* border: solid 1px yellow; */
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: right;
}

.cl_div_upload_button_back_part_three
{
    /* border: solid 1px yellow; */
    margin-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: left;
}

.cl_div_upload_button_forward_part_three
{
    /* border: solid 1px yellow; */
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: right;
}


.cl_div_upload_texts
{
    border: solid 1px black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;   
    clear: both;    
}

.cl_div_upload_button_back_forward_part_three
{
    border: solid 1px green;
    overflow: hidden;   
    clear: both;
}

/* For part two <button> elements */
.cl_div_upload_container_part_two button
{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 110px;
}

/* For part three <button> elements */
.cl_div_upload_texts button
{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 110px;
}

.cl_div_upload_texts_concert
{
    clear: both;
}

.cl_div_upload_texts_title
{
    clear: both;
}

.cl_div_upload_texts_text
{
    clear: both;
}

.cl_div_upload_texts_remark
{
    clear: both;
}

